<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings />
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true"/>
		</diagnostics>
		<behaviors>
			<serviceBehaviors>
				<behavior name="calc">
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="calc" name="M9_WCF_Service.MathImp">
				<endpoint address="Math" binding="netTcpBinding" bindingConfiguration=""
				  name="math" contract="M9_WCF_Service.IMath" />
				<endpoint address="mex" binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>